@model IEnumerable<DATA.Models.Teacher>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TContact)
                </td>
                <td>
                    <a class="editBtn" data-id="@item.TeacherId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('.editBtn').click(function () {
        var _id = $(this).attr('data-id');
        $.ajax({
            type: 'GET',
            url: '/Teacher/AjCreate',
            data: { id: _id },
            success: function (response) {
                $('#DepFormDiv').html(response);
            },
            error: function () {
                alert(error);
            }
        });
    });

</script>